.grid {
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr) !important;
  grid-template-rows: repeat(8, 1fr) !important;
}
.card {
  background-color: var(--background-100);
  margin: 10px;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: 1rem 1rem 1rem var(--background-100),
    -1rem -1rem -1rem var(--background-50);
}
.navbar {
  grid-column: 1 / span 12 !important;
  grid-row: 1 / span 1;
  view-transition-name: navbar;
}

.main {
  grid-row: 2 / span 6;
  grid-column: 1 / span 11;
}
.f {
  grid-column: 1 / span 8;
  grid-row: 8 / span 1;
}

.g {
  grid-column: 9 / span 4;
  grid-row: 8 / span 1;
}

.c {
  grid-column: 12 / span 1;
  grid-row: 2 / span 4;
}

.e {
  grid-column: 12 / span 1;
  grid-row: 6 / span 2;
}

.discard {
  position: absolute;
  top: 100%;
  right: 100%;
  display: none;
}
