.grid {
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr) !important;
  grid-template-rows: repeat(8, 1fr) !important;
}
.card {
  background-color: var(--background-100);
  margin: 10px;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: 1rem 1rem 1rem var(--background-100),
    -1rem -1rem -1rem var(--background-50);
  /* transition: all 0.3s ease; */
}
.navbar {
  grid-column: 1 / span 12 !important;
  grid-row: 1 / span 1;
  view-transition-name: navbar;
}

.a {
  grid-column: 1 / span 6;
  grid-row: 2 / span 5;
  view-transition-name: projects;
}

.b {
  grid-column: 7 / span 3;
  grid-row: 2 / span 3;
  view-transition-name: profile;
}
.c {
  grid-column: 10 / span 3;
  grid-row: 2 / span 4;
  view-transition-name: info;
}
.d {
  grid-column: 7 / span 3;
  grid-row: 5 / span 1;
  view-transition-name: socials;
}
.e {
  grid-column-end: span 8;
  grid-row: 7 / span 2;
  view-transition-name: contact;
}
.f {
  grid-column: 9 / span 4;
  grid-row: 6 / span 3;
  view-transition-name: blog;
}
.g {
  grid-column: 7 / span 2;
  grid-row-start: 6;
  view-transition-name: fidget;
}
