.about {
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
}
.message {
  text-align: start;
  padding-bottom: 1rem;
  view-transition-name: message;
}

.greeting {
  font: var(--h1);
  view-transition-name: greeting;
}
