.grid {
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(12, 1fr) !important;
  grid-template-rows: repeat(8, 1fr) !important;
  view-transition-name: grid;
  object-fit: contain;
}
.grid > div {
  background-color: var(--background-50);
  margin: 10px !important;
  text-align: center;
  border-radius: var(--border-radius);
  /* border: 2px solid rgba(255, 255, 255, 0.1); */
  /* box-shadow: inset 5em 5em 50px rgba(0, 0, 0, 0.8),
    inset 0px 0px 50px rgba(0, 0, 0, 0.8); */
  position: relative;
}
.card::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  background: var(--background);
  border-radius: inherit;
  border: 1px solid
    linear-gradient(45deg, var(--background), var(--background-50));
  box-shadow: inset 4em 3em 5px rgba(0, 0, 0, 0.8);
  z-index: -5;
}
.navbar {
  grid-column: 1 / span 12 !important;
  grid-row: 1 / span 1;
  view-transition-name: navbar;
}
