.projects {
  padding: 5%;
  animation: none !important;
}
.title {
  font: var(--h1);
  color: var(--accent-400);
  animation: none !important;
}
.quote {
  text-align: start;
  font: var(--p);
}
.project {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
  animation: none !important;
}

.project-list {
  height: 100%;
  overflow-y: auto;
  scroll-snap-type: both mandatory;
  overscroll-behavior-x: contain;
  animation: none !important;
  view-transition-name: project-list;
}
::view-transition-old(project-list) > div,
::view-transition-new(project-list) > div {
  display: none;
  visibility: hidden;
  overflow-y: hidden;
}
