.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  border: none;
  overflow: none;
  align-self: center;
  justify-self: center;
  background: transparent !important;
  z-index: -1;
}
.social-item {
  height: 80%;
  width: 80%;
  border: none;
  border-radius: var(--border-radius);
  margin: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: border-radius 1000ms cubic-bezier(0.075, 0.82, 0.165, 1),
    box-shadow 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    background 1s cubic-bezier(0.075, 0.82, 0.165, 1),
    transform 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.icon {
  font-size: 2rem;
  color: var(--primary);
  transition: transform 250ms ease-in-out, filter 250ms ease-in-out,
    visibility 0s linear;
}

.social-item:hover {
  /* Neomorphism */
  border-radius: 25% 25% 25% 25% / 13% 13% 13% 13%;
  /* border-radius: 0 50% 0 50%; */

  background: linear-gradient(
    315deg,
    var(--background-50),
    var(--background-100)
  );
  box-shadow: inset 0 6px 10px rgba(0, 0, 0, 0.75),
    /* Stronger inner shadow */ inset 0 -3px 6px rgba(255, 255, 255, 0.1),
    /* Subtle top glow */ 0 2px 4px rgba(0, 0, 0, 0.5); /* Outer shadow to separate from container */
  border: 1px solid rgba(255, 255, 255, 0.05);
}
.social-item:hover > .icon {
  filter: drop-shadow(4px 4px 1px var(--background-50));
  transform: scale(1.2);
}

.cube {
  width: 100%;
  height: 100%;
  perspective: 300px;
  transform-style: preserve-3d;
}
.po-tm {
  perspective-origin: top;
}
.face {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
  border: none;
  line-height: 100px;
  font-family: sans-serif;
  font-size: 60px;
  color: white;
  text-align: center;
  backface-visibility: visible;
}
.front {
  background: rgb(0 0 0 / 30%);
  transform: translateZ(50px);
}
.back {
  background: rgb(0 255 0 / 100%);
  color: black;
  transform: rotateY(180deg) translateZ(50px);
}
.right {
  background: rgb(196 0 0 / 70%);
  transform: rotateY(90deg) translateZ(50px);
}
.left {
  background: rgb(0 0 196 / 70%);
  transform: rotateY(-90deg) translateZ(50px);
}
.top {
  background: rgb(196 196 0 / 70%);
  transform: rotateX(90deg) translateZ(50px);
}
.bottom {
  background: rgb(196 0 196 / 70%);
  transform: rotateX(-90deg) translateZ(50px);
}
