/* @media (prefers-color-scheme: light) {
  :root {
    --text-50: hsl(44, 100%, 95%);
    --text-100: hsl(44, 100%, 90%);
    --text-200: hsl(43, 100%, 80%);
    --text-300: hsl(43, 100%, 70%);
    --text-400: hsl(43, 100%, 60%);
    --text-500: hsl(43, 100%, 50%);
    --text-600: hsl(43, 100%, 40%);
    --text-700: hsl(43, 100%, 30%);
    --text-800: hsl(43, 100%, 20%);
    --text-900: hsl(44, 100%, 10%);
    --text-950: hsl(42, 100%, 5%);

    --background-50: hsl(30, 23%, 95%);
    --background-100: hsl(27, 22%, 90%);
    --background-200: hsl(25, 24%, 80%);
    --background-300: hsl(26, 23%, 70%);
    --background-400: hsl(26, 23%, 60%);
    --background-500: hsl(26, 23%, 50%);
    --background-600: hsl(26, 23%, 40%);
    --background-700: hsl(26, 23%, 30%);
    --background-800: hsl(25, 24%, 20%);
    --background-900: hsl(27, 22%, 10%);
    --background-950: hsl(20, 23%, 5%);

    --primary-50: hsl(42, 77%, 95%);
    --primary-100: hsl(42, 76%, 90%);
    --primary-200: hsl(41, 76%, 80%);
    --primary-300: hsl(41, 76%, 70%);
    --primary-400: hsl(41, 77%, 60%);
    --primary-500: hsl(41, 77%, 50%);
    --primary-600: hsl(41, 77%, 40%);
    --primary-700: hsl(41, 76%, 30%);
    --primary-800: hsl(41, 76%, 20%);
    --primary-900: hsl(42, 76%, 10%);
    --primary-950: hsl(39, 77%, 5%);

    --secondary-50: hsl(80, 36%, 95%);
    --secondary-100: hsl(74, 33%, 90%);
    --secondary-200: hsl(77, 35%, 80%);
    --secondary-300: hsl(76, 35%, 70%);
    --secondary-400: hsl(76, 35%, 60%);
    --secondary-500: hsl(76, 35%, 50%);
    --secondary-600: hsl(76, 35%, 40%);
    --secondary-700: hsl(76, 35%, 30%);
    --secondary-800: hsl(77, 35%, 20%);
    --secondary-900: hsl(74, 33%, 10%);
    --secondary-950: hsl(73, 36%, 5%);

    --accent-50: hsl(93, 36%, 95%);
    --accent-100: hsl(92, 33%, 90%);
    --accent-200: hsl(92, 33%, 80%);
    --accent-300: hsl(92, 35%, 70%);
    --accent-400: hsl(92, 34%, 60%);
    --accent-500: hsl(92, 34%, 50%);
    --accent-600: hsl(92, 34%, 40%);
    --accent-700: hsl(92, 35%, 30%);
    --accent-800: hsl(92, 33%, 20%);
    --accent-900: hsl(92, 33%, 10%);
    --accent-950: hsl(93, 36%, 5%);

  }
} */
/* @media (prefers-color-scheme: dark) {
  :root {
    --text-50: hsl(42, 100%, 5%);
    --text-100: hsl(44, 100%, 10%);
    --text-200: hsl(43, 100%, 20%);
    --text-300: hsl(43, 100%, 30%);
    --text-400: hsl(43, 100%, 40%);
    --text-500: hsl(43, 100%, 50%);
    --text-600: hsl(43, 100%, 60%);
    --text-700: hsl(43, 100%, 70%);
    --text-800: hsl(43, 100%, 80%);
    --text-900: hsl(44, 100%, 90%);
    --text-950: hsl(44, 100%, 95%);

    --background-50: hsl(20, 23%, 5%);
    --background-100: hsl(27, 22%, 10%);
    --background-200: hsl(25, 24%, 20%);
    --background-300: hsl(26, 23%, 30%);
    --background-400: hsl(26, 23%, 40%);
    --background-500: hsl(26, 23%, 50%);
    --background-600: hsl(26, 23%, 60%);
    --background-700: hsl(26, 23%, 70%);
    --background-800: hsl(25, 24%, 80%);
    --background-900: hsl(27, 22%, 90%);
    --background-950: hsl(30, 23%, 95%);

    --primary-50: hsl(39, 77%, 5%);
    --primary-100: hsl(42, 76%, 10%);
    --primary-200: hsl(41, 78%, 20%);
    --primary-300: hsl(41, 78%, 30%);
    --primary-400: hsl(41, 78%, 40%);
    --primary-500: hsl(41, 78%, 50%);
    --primary-600: hsl(41, 78%, 60%);
    --primary-700: hsl(41, 78%, 70%);
    --primary-800: hsl(41, 78%, 80%);
    --primary-900: hsl(42, 76%, 90%);
    --primary-950: hsl(42, 77%, 95%);

    --secondary-50: hsl(73, 36%, 5%);
    --secondary-100: hsl(74, 33%, 10%);
    --secondary-200: hsl(77, 35%, 20%);
    --secondary-300: hsl(76, 35%, 30%);
    --secondary-400: hsl(76, 35%, 40%);
    --secondary-500: hsl(76, 35%, 50%);
    --secondary-600: hsl(76, 35%, 60%);
    --secondary-700: hsl(76, 35%, 70%);
    --secondary-800: hsl(77, 35%, 80%);
    --secondary-900: hsl(74, 33%, 90%);
    --secondary-950: hsl(80, 36%, 95%);

    --accent-50: hsl(93, 36%, 5%);
    --accent-100: hsl(92, 33%, 10%);
    --accent-200: hsl(92, 33%, 20%);
    --accent-300: hsl(92, 35%, 30%);
    --accent-400: hsl(92, 34%, 40%);
    --accent-500: hsl(92, 34%, 50%);
    --accent-600: hsl(92, 34%, 60%);
    --accent-700: hsl(92, 35%, 70%);
    --accent-800: hsl(92, 33%, 80%);
    --accent-900: hsl(92, 33%, 90%);
    --accent-950: hsl(93, 36%, 95%);
  }
} */

/* @media (prefers-color-scheme: light) {
  :root {
    --text-50: hsl(44, 100%, 95%);
    --text-100: hsl(44, 100%, 90%);
    --text-200: hsl(43, 100%, 80%);
    --text-300: hsl(43, 100%, 70%);
    --text-400: hsl(43, 100%, 60%);
    --text-500: hsl(43, 100%, 50%);
    --text-600: hsl(43, 100%, 40%);
    --text-700: hsl(43, 100%, 30%);
    --text-800: hsl(43, 100%, 20%);
    --text-900: hsl(44, 100%, 10%);
    --text-950: hsl(42, 100%, 5%);

    --background-50: hsl(30, 23%, 95%);
    --background-100: hsl(27, 22%, 90%);
    --background-200: hsl(25, 24%, 80%);
    --background-300: hsl(26, 23%, 70%);
    --background-400: hsl(26, 23%, 60%);
    --background-500: hsl(26, 23%, 50%);
    --background-600: hsl(26, 23%, 40%);
    --background-700: hsl(26, 23%, 30%);
    --background-800: hsl(25, 24%, 20%);
    --background-900: hsl(27, 22%, 10%);
    --background-950: hsl(20, 23%, 5%);

    --primary-50: hsl(80, 36%, 95%);
    --primary-100: hsl(74, 33%, 90%);
    --primary-200: hsl(77, 35%, 80%);
    --primary-300: hsl(76, 35%, 70%);
    --primary-400: hsl(76, 35%, 60%);
    --primary-500: hsl(76, 35%, 50%);
    --primary-600: hsl(76, 35%, 40%);
    --primary-700: hsl(76, 35%, 30%);
    --primary-800: hsl(77, 35%, 20%);
    --primary-900: hsl(74, 33%, 10%);
    --primary-950: hsl(73, 36%, 5%);

    --secondary-50: hsl(45, 62%, 95%);
    --secondary-100: hsl(43, 61%, 90%);
    --secondary-200: hsl(43, 63%, 80%);
    --secondary-300: hsl(43, 62%, 70%);
    --secondary-400: hsl(43, 62%, 60%);
    --secondary-500: hsl(43, 62%, 50%);
    --secondary-600: hsl(43, 62%, 40%);
    --secondary-700: hsl(43, 62%, 30%);
    --secondary-800: hsl(43, 63%, 20%);
    --secondary-900: hsl(43, 61%, 10%);
    --secondary-950: hsl(41, 62%, 5%);

    --accent-50: hsl(35, 100%, 95%);
    --accent-100: hsl(35, 100%, 90%);
    --accent-200: hsl(35, 100%, 80%);
    --accent-300: hsl(35, 100%, 70%);
    --accent-400: hsl(35, 100%, 60%);
    --accent-500: hsl(35, 100%, 50%);
    --accent-600: hsl(35, 100%, 40%);
    --accent-700: hsl(35, 100%, 30%);
    --accent-800: hsl(35, 100%, 20%);
    --accent-900: hsl(35, 100%, 10%);
    --accent-950: hsl(35, 100%, 5%);

  }
} */
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: hsl(42, 100%, 5%);
    --text-100: hsl(44, 100%, 10%);
    --text-200: hsl(43, 100%, 20%);
    --text-300: hsl(43, 100%, 30%);
    --text-400: hsl(43, 100%, 40%);
    --text-500: hsl(43, 100%, 50%);
    --text-600: hsl(43, 100%, 60%);
    --text-700: hsl(43, 100%, 70%);
    --text-800: hsl(43, 100%, 80%);
    --text-900: hsl(44, 100%, 90%);
    --text-950: hsl(44, 100%, 95%);

    --background-50: hsl(20, 23%, 5%);
    --background-100: hsl(27, 22%, 10%);
    --background-200: hsl(25, 24%, 20%);
    --background-300: hsl(26, 23%, 30%);
    --background-400: hsl(26, 23%, 40%);
    --background-500: hsl(26, 23%, 50%);
    --background-600: hsl(26, 23%, 60%);
    --background-700: hsl(26, 23%, 70%);
    --background-800: hsl(25, 24%, 80%);
    --background-900: hsl(27, 22%, 90%);
    --background-950: hsl(30, 23%, 95%);

    --primary-50: hsl(73, 36%, 5%);
    --primary-100: hsl(74, 33%, 10%);
    --primary-200: hsl(77, 35%, 20%);
    --primary-300: hsl(76, 35%, 30%);
    --primary-400: hsl(76, 35%, 40%);
    --primary-500: hsl(76, 35%, 50%);
    --primary-600: hsl(76, 35%, 60%);
    --primary-700: hsl(76, 35%, 70%);
    --primary-800: hsl(77, 35%, 80%);
    --primary-900: hsl(74, 33%, 90%);
    --primary-950: hsl(80, 36%, 95%);

    --secondary-50: hsl(41, 62%, 5%);
    --secondary-100: hsl(43, 61%, 10%);
    --secondary-200: hsl(43, 63%, 20%);
    --secondary-300: hsl(43, 62%, 30%);
    --secondary-400: hsl(43, 62%, 40%);
    --secondary-500: hsl(43, 62%, 50%);
    --secondary-600: hsl(43, 62%, 60%);
    --secondary-700: hsl(43, 62%, 70%);
    --secondary-800: hsl(43, 63%, 80%);
    --secondary-900: hsl(43, 61%, 90%);
    --secondary-950: hsl(45, 62%, 95%);

    --accent-50: hsl(35, 100%, 5%);
    --accent-100: hsl(35, 100%, 10%);
    --accent-200: hsl(35, 100%, 20%);
    --accent-300: hsl(35, 100%, 30%);
    --accent-400: hsl(35, 100%, 40%);
    --accent-500: hsl(35, 100%, 50%);
    --accent-600: hsl(35, 100%, 60%);
    --accent-700: hsl(35, 100%, 70%);
    --accent-800: hsl(35, 100%, 80%);
    --accent-900: hsl(35, 100%, 90%);
    --accent-950: hsl(35, 100%, 95%);
  }
}
