@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  /* --background: hsl(25, 22%, 6%);
  --text: hsl(43, 100%, 80%);
  --primary: hsl(111, 100%, 71%);
  --secondary: hsl(35, 100%, 50%);
  --accent: hsl(25, 74%, 75%, 5%);
  --background2: hsla(25, 22%, 6%, 5%); */

  --text: hsl(43, 100%, 80%);
  --background: hsl(26, 23%, 6%);
  --primary: hsl(40, 34%, 73%);
  --secondary: hsl(76, 35%, 31%);
  --accent: hsl(92, 34%, 54%);

  --background2: hsl(40, 34%, 73%, 5%);

  --ff: "Roboto Mono", sans-serif;
  --ft: Quantico, sans-serif;
  --h1: bold 3rem/1.4em var(--ft);
  --h2: bold 1rem/1.4em var(--ff);
  --p: 1rem/1.4em var(--ff);
  --p2: 0.875/1.4em var(--ff);

  --gray100: hsl(0, 0%, 100%);
  --gray70: hsl(0, 0%, 70%);
  --gray0: hsl(0, 0%, 0%);

  --border-radius: 20px;
}
.hideScrollbar::-webkit-scrollbar {
  display: none;
}
.hideScrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}
body {
  font: var(--p);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text);
}
